
<div class="container" id="movieDetails">

    <div class="row" id="posterAndIntroduction">
        <div class="col-sm-5" id="posterImage">
            <img src="{{ movie.posterUrl }}" width=230 alt="Movie Poster Not Found">
        </div>
        <div class="col-sm-5" id="moiveIntroduction">
            <h2> {{ movie.title }} </h2>
            <div>
                <div style="display: inline-block; padding-right: 6px" *ngFor="let genre of movie.genres"> 
                    <span class="badge bg-secondary"  [routerLink]="['/movies/genre', genre.id]"> {{ genre.name }} </span> 
                </div>
            </div>
            <br>
            <div> {{ movie.overview }}</div>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col-6">
            <h3>Movie Facts</h3>
            <hr>

            <div class="row">
                <div class="col-sm-9">
                    Rating
                </div>
                <div class="col-sm-3">
                    <span class="badge bg-success" color="gold"> 9.9 </span>
                </div>
            </div>

            <hr>


            <div class="row" id="releaseDate">
                <div class="col-sm-9">
                    Release Date
                </div>  
                <div class="col-sm-3">
                    <span class="badge bg-secondary"> {{ movie.releasedate.substring(0,10) }} </span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-9" id="runTime">
                    Run Time
                </div>
                <div class="col-sm-3">
                    <span class="badge bg-secondary"> {{ movie.runTime }} m</span>
                </div>
            </div>
            <hr>
            <div class="row" id="revenue">
                <div class="col-sm-9">
                    Revenue
                </div>
                <div class="col-sm-3">
                    <span class="badge bg-secondary">$ {{ movie.revenue }}</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-9">
                    Budget
                </div>
                <div class="col-sm-3">
                    <span class="badge bg-secondary">$ {{ movie.budget }} </span>
                </div>
            </div>
            <hr>
            <div *ngFor="let trailer of movie.trailers">
                <div class="col-sm-9">
                    <a href="{{ trailer.trailerUrl }}"> {{ trailer.name }} </a>
                </div>
                <hr>
            </div>
        </div>


        <div class="col-6" id="casts">
            <h3>Casts </h3>
            <hr>
            <div *ngFor="let cast of movie.casts">
                <app-cast-details [cast]="cast"></app-cast-details>
            </div>
        </div>
    </div>
</div>


